{% extends 'enroll/base.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Student Registration Form
        </div>
        <div class="card-body">
            <form action="" method="post">
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" value="{{ form.first_name.data }}">
                    {% if form.first_name.errors %}
                        <div class="alert alert-danger">
                            {{ form.first_name.errors.0 }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" value="{{ form.last_name.data }}">
                    {% if form.last_name.errors %}
                        <div class="alert alert-danger">
                            {{ form.last_name.errors.0 }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ form.email.data }}">
                    {% if form.email.errors %}
                        <div class="alert alert-danger">
                            {{ form.email.errors.0 }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    {% if form.password.errors %}
                        <div class="alert alert-danger">
                            {{ form.password.errors.0 }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
                    {% if form.confirm_password.errors %}
                        <div class="alert alert-danger">
                            {{ form.confirm_password.errors.0 }}
                        </div>
                    {% endif %}
                </div>
        </div>
    </div>
{% endblock content %}